---
layout: page
title: "Posts"
permalink: /posts/
---

{% for category in site.categories %}
  {% capture cat %}{{ category | first | downcase }}{% endcapture %}
  <h2>{{ category | first }}</h2>
  {% for desc in site.descriptions %}
  {% capture dcat %}{{ desc.cat | downcase }}{% endcapture %}
      {% if dcat == cat %}
        <p class="desc"><em>{{cat}} {{ desc.desc }}</em></p>
      {% endif %}
  {% endfor %}
  <ul class="posts-list">
    {% capture cat %}{{ category | first }}{% endcapture %}
    {% for post in site.categories[cat] %}
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
      <span class="post-date">- {{ post.date | date_to_long_string }}</span>
    </li>
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
<br>
